<div class="top_bar">
  <div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>
<%if logged_in? %>
	<div class="welcome">Welcome, <%= current_user.name %></div>
    <div class="logout"><%= link_to 'Log out', logout_path, method: :delete%></div>
<% else %>
	<div id = "logLoc"><%= link_to "Login", login_path,{:class=>"loginLink"}%></div>
<%end%>
<div class="middle">
	<div class="top_bar">
  		<div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>

		<%if logged_in? %>
			<div class="welcome">Welcome, <%= current_user.name %></div>
   		    <div class="logout"><%= link_to 'Log out', logout_path, method: :delete%></div>
		<% else %>
			<div id = "logLoc"><%= link_to "Login", login_path,{:class=>"loginLink"}%></div>
		<%end%>
		<%= form_tag users_path, :method => 'get' do %>

		<p id="searchbar">
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil %>
		</p>
  <!-- <% end %> what is this for??-->
	</div>



	<div style="padding:10px 10px 10px 10px;"> <!-- I'm guessing this is going to be the navigation bar? -->
		<%if logged_in? %>
		<!--What is the purpose of the {:class}?-->
			 <%=link_to "Profile", user_path(current_user), {:class=>"link"} %> 
		<%end%>
	</div>
	
	<br>
	
	<div class="leftColumn">
		<h2>Hottest</h2>
		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recently Watched/Viewed</h2>
	</div>

	<!-- Work in progress -->
	<div class="sideInfo">
		<h2>Upcoming</h2><!-- &nbsp adds a single space -->
		<!-- Most likely adding a table here -->
		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recommendations</h2>
		<!-- another table here -->
	</div>
</div>
