<div class="middle" style="height:90em;">
	<div style="padding:10px 10px 10px 10px;"> 
		<div class="leftColumn">
			<h2>Hottest</h2>
			<div class="hottest">
				<div class="spacing" style="left: 1em">
					<% for i in 1..6 %>
					<% @movie = Movie.find(i) %>
					<div class="poster">
						<%= link_to movie_path(@movie) do%>
							<img src="<%=@movie.posterPath%>" alt="Movie Poster"/>
							<span class="text"><%=@movie.title%></span>
						<%end%>
					</div>
					<%end%>
				</div>
			</div>

			<% 20.times do %>
				<br>
			<% end %>
			
			<h2>Upcoming</h2>
			<div class="upcoming">
				<div class="spacing" style="top: 0.1em; left: 0.1em">
				    <% for i in 6..12 %> <!-- only six movies will currently be displayed, the rest will be cutt off until some scrolling function is working for upcoming-->
					<% @movie = Movie.find(i) %>				
					<div class="poster" style="margin-top: 5px">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
					<% end %>
				</div>
			</div>
		</div>

	

	<!-- Work in progress
	<div class="sideInfo">
		<h2>Recently Viewed</h2> &nbsp adds a single space

		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recommendations</h2>>
	</div> -->