<div class="middle" style="height:120em;">
	<div style="padding:10px 10px 10px 10px;"> 
		<div class="leftColumn">
			<h2>Popular</h2>
			<div class="popular">
				<div class="spacing" style="top: 0.1em; left: 0.5em;">
					<% @movie = Movie.find_by_sql("SELECT * FROM movies WHERE movies.status = 'Popular' AND movies.releaseDate BETWEEN '2015-01-01' AND '2015-11-20' ORDER BY releaseDate DESC").first(6) %>
					<% @movie.each do |movie| %>
					<div class="poster" style="margin-top: 5px;">
						<%= link_to movie_path(movie) do%>
							<img src="<%= movie.posterPath%>" alt="Movie Poster"/>
							<span class="text"><%= movie.title%></span>
						<%end%>
					</div>
					<%end%>
				</div>
			</div>

			<% 15.times do %>
				<br>
			<% end %>
			
			<h2>Upcoming</h2>
			<div class="upcoming">
				<div class="spacing" style="top: 0.4em; left: 0.5em">
					<% @movie = Movie.find_by_sql("SELECT * FROM movies WHERE movies.status = 'Upcoming' AND movies.title != 'A Hologram for the King' AND movies.releaseDate > 2015-11-24 ORDER BY movies.releaseDate ASC").first(6) %>
					<% @movie.each do |movie| %>
					<div class="poster" style="margin-top: 5px;">
						<%= link_to movie_path(movie) do%>
							<img src="<%= movie.posterPath%>" alt="Movie Poster"/>
							<span class="text"><%= movie.title%></span>
						<%end%>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		
		<div class= "rightColumn">
			<h2>Message Boards</h2>
			<div class="right">
				<table>
					<!--query-->
					<!--@msg.each do |msg|-->
					
					<tr><div class="comment_box"> "This is a post until database gets created." <a> Im a fake link</a></div></tr> 
					<!--end-->
				</table>
			</div>
		</div>
		
		<div class="leftColumn">
			<h2 style="margin-top: 19em;">Top Rated</h2>
			<div class="postersleft">
				<div class="topRated">
					<div class="spacing" style="top: 0.1em; left: 0.5em;">			
						<% @movie =  Movie.find_by_sql("SELECT * FROM movies WHERE movies.numVotes > 500 ORDER BY averageScore DESC").first(6) %>
							<% @movie.each do |movie| %>
							<div class="poster" style="margin-top: 5px;">
								<%= link_to movie_path(movie) do %>
									<img src="<%= movie.posterPath %>" alt="Movie Poster"/>
									<span class="text"><%= movie.title %></span>
								<% end %>
							</div>
						    <%end%>
					</div>
				</div>
			</div>
		</div>
		
		
		
	
		
		
	
	<!-- <% @movie =  Movie.where("numVotes > 500").order("averageScore DESC").first(6) %> 
		 The ruby equivalent to the sql version above -->


	<!-- Work in progress
	<div class="sideInfo">
		<h2>Recently Viewed</h2> &nbsp adds a single space

		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recommendations</h2>>
	</div> -->
	</div>
</div>