<div class="middle">
	<div class="top_bar">
  		<div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>

		<%if logged_in? %>
			<!--<div class="welcome">Welcome, <%= current_user.name %></div><-->
   		    <div id="logLoc"><%= link_to 'Log out', logout_path,{:class=>"loginLink",method: :delete} %></div>
		<% else %>
			<div id ="logLoc"><%= link_to "Login", login_path,{:class=>"loginLink"}%></div>
		<%end%>

		<%= form_tag movies_path, :method => 'get' do %>
			<p id="searchbar">
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil %>
			</p>
  	   <% end %>
		<div class="btn"><%= link_to "Browse Movies", movies_path, {:id => "nav-btn"} %></div>
		<%if logged_in? %>
			<div class="btn" style="margin-left:9em;"><%=link_to "Profile", user_path(current_user), {:id =>"nav-btn"} %></div> 
		<%end%>
	</div>



	<div style="padding:10px 10px 10px 10px;"> <!-- I'm guessing this is going to be the navigation bar? -->
	<br>
	
	<div class="leftColumn">
		<h2>Hottest</h2>
		<div class="hottest">
			<div class="spacing">
				<div class="poster">
					<a href="/movies/22">
						<img src="http://image.tmdb.org/t/p/w500/7SGGUiTE6oc2fh9MjIk5M00dsQd.jpg " alt="Ant-man"/>
						<span class="text">Ant-man</span>
					</a>
				</div>
				<div class="poster">
						<div class="posterSpace">
						<a href="/movies/37">
							<img src="http://image.tmdb.org/t/p/w500/t90Y3G8UGQp0f0DrP60wRu9gfrH.jpg" alt="Avengers: Age of Ultron"/>
							<span class="text">Avengers: Age of Ultron</span>
						</a>
					</div>
				</div>
				<div class="poster">
					<div class="posterSpace">
						<a href="/movies/3">
							<img src="http://image.tmdb.org/t/p/w500/pCj8zem1NDAODdtvha9WFEB6iWR.jpg " alt="Crimson Peak"/>
							<span class="text">Crimson Peak</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<% 20.times do %>
			<br>
		<% end %>
		<h2>Upcoming</h2>
		<div class="upcoming">
			<div class="spacing">
				<div class="poster">
					<a href="/movies/22">
						<img src="http://image.tmdb.org/t/p/w500/7SGGUiTE6oc2fh9MjIk5M00dsQd.jpg " alt="Ant-man"/>
						<span class="text">Ant-man</span>
					</a>
				</div>
				<div class="poster">
						<div class="posterSpace">
						<a href="/movies/37">
							<img src="http://image.tmdb.org/t/p/w500/t90Y3G8UGQp0f0DrP60wRu9gfrH.jpg" alt="Avengers: Age of Ultron"/>
							<span class="text">Avengers: Age of Ultron</span>
						</a>
					</div>
				</div>
				<div class="poster">
					<div class="posterSpace">
						<a href="/movies/3">
							<img src="http://image.tmdb.org/t/p/w500/pCj8zem1NDAODdtvha9WFEB6iWR.jpg " alt="Crimson Peak"/>
							<span class="text">The Dark Knight</span>
						</a>
					</div>
				</div>
			</div>	
		</div>

	<!-- Work in progress
	<div class="sideInfo">
		<h2>Recently Viewed</h2> &nbsp adds a single space

		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recommendations</h2>>
	</div> -->
</div>
<div id="bottom">
	<%= link_to "About", about_path %>
</div>