<div class="middle">
	<div class="top_bar">
  		<div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>

		<%if logged_in? %>
			<div id="logLoc" style="color: white">Welcome, <%= current_user.name %></div>
   		    <div id="logLoc"><%= link_to 'Log out', logout_path,{:class=>"loginLink",method: :delete} %></div>
		<% else %>
			<div id ="logLoc"><%= link_to "Login", login_path,{:class=>"loginLink"}%></div>
		<%end%>

		<%= form_tag movies_path, :method => 'get' do %>
			<p id="searchbar">
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil %>
			</p>
  	   <% end %>
		<div class="btn"><%= link_to "Browse Movies", movies_path, {:id => "nav-btn"} %></div>
		<div class="btn" style="margin-left: 8em"><%= link_to "About", about_path, {:id => "nav-btn"} %></div>

		<%if logged_in? %>
			<div class="btn" style="margin-left:12em;"><%=link_to "Profile", user_path(current_user), {:id =>"nav-btn"} %></div> 
		<%end%>		
	</div>



	<div style="padding:10px 10px 10px 10px;"> <!-- I'm guessing this is going to be the navigation bar? -->
	

	<div class="leftColumn">
		<h2>Hottest</h2>
		<div class="hottest">
			<div class="spacing">
				<% @movie = Movie.find(1) %>
				<div class="poster">
					<%= link_to movie_path(@movie) do%>
						<img src="<%=@movie.posterPath%>" alt="Movie Poster"/>
						<span class="text"><%=@movie.title%></span>
					<%end%>
				</div>
			
				<% @movie = Movie.find(2) %>
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<% @movie = Movie.find(3) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>				
				<% @movie = Movie.find(4) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<% @movie = Movie.find(7) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<% @movie = Movie.find(8) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% 20.times do %>
			<br>
		<% end %>
		<h2>Upcoming</h2>
		<div class="upcoming">
			<div class="spacing">
				<% @movie = Movie.find(1) %>				
				<div class="poster">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
				</div>
				<% @movie = Movie.find(1) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<% @movie = Movie.find(1) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<div style="display:block"></div>
				<% @movie = Movie.find(1) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<% @movie = Movie.find(1) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
				<% @movie = Movie.find(1) %>				
				<div class="poster">
					<div class="posterSpace">
						<%= link_to movie_path(@movie) do %>
							<img src="<%= @movie.posterPath %>" alt="Movie Poster"/>
							<span class="text"><%= @movie.title %></span>
						<% end %>
					</div>
				</div>
			</div>	
		</div>

	<!-- Work in progress
	<div class="sideInfo">
		<h2>Recently Viewed</h2> &nbsp adds a single space

		<% 20.times do %>
			<br>
		<% end %>
		<h2>Recommendations</h2>>
	</div> -->

</div>