<!-- CHANGE LATER -->
<% provide(:title, "Log in") %>

<!--HEADER FOR THE PAGES **COPY AND PASTE INTO EVERYPAGE -->
<div class="top_bar">
  <div id="title">flickfindr</div>
</div>

<div>
  <h1 class="header">Log in</h1>
  <div class="form">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email%>
      <%= f.email_field :email, class:'text_area' %>

      <%= f.label :password %>
      <%= f.password_field :password_digest,  class:'text_area'%>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path, {:class=>"link"} %></p>
  </div>
</div>