<div class="top_bar">
  <div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>
<%if logged_in? %>
	<div class="welcome">Welcome, <%= current_user.name %></div>
    <div class="logout"><%= link_to 'Log out', logout_path, method: :delete%></div>
<% else %>
	<div id = "logLoc"><%= link_to "Login", login_path,{:class=>"loginLink"}%></div>
<%end%>

<p id="notice"><%= notice %></p>
<h1 class="header">Listing Movies</h1>
<div style="background-color:white;">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tmdbid</th>
      <th>Synopsis</th>
      <th>Posterpath</th>
      <th>Releasedate</th>
      <th>Status</th>
      <th>Averagescore</th>
      <th>Numvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.tmdbID %></td>
        <td><%= movie.synopsis %></td>
        <td><img src= "<%= movie.posterPath %>" style="width: 80%; height: 80%"></td>
        <td><%= movie.releaseDate %></td>
        <td><%= movie.status %></td>
        <td><%= movie.averageScore %></td>
        <td><%= movie.numVotes %></td>
        <td><%= link_to 'Show', movie %></td>
        
        <!--<td><%if false%> just commenting out so users can't do this ~~~~~~~~~
        <%= link_to 'Edit', edit_movie_path(movie) %></td>-->
        <!--<td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%></td> -->
        
      <% if logged_in? %> <td><%= link_to 'Favorite', favorite_movie_path(movie ,type: "favorite"), method: :post%></td> <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
</div>