
  <p id="notice"><%= notice %></p>
  <% 5.times do %>
    <br>
  <% end %>
  <div class="container2">
    <div class="movSpacing">
      <div class = "movImage">
        <p>
          <img src = "<%= @movie.posterPath %>" style="width: 75%; height: 75%;">
        </p>
      </div>
    </div>
  
    <div class="movDescrip">
      <p style="float:center; margin: -6em 0em 6em -0.3em; position:relative;">
        <% if logged_in? %> 
          <% if current_user.favorites.where(:id => @movie.id).blank? %>
            <%= link_to 'Favorite', favorite_movie_path(@movie, type: "favorite"), {method: :put, :class=>"btn btn-success"}%>
          <%else%>
            <%= link_to "unfavorite", favorite_movie_path(@movie, type: "delete"), {method: :put, :class => "btn btn-danger"} %>
          <%end%>
        <%end%>
      </p>
      
      
      <p>
        <strong>Title:</strong>
        <%= @movie.title %>
      </p>
      

      <p>
        <strong>Synopsis:</strong>
        <%= @movie.synopsis %>
      </p>


      <p>
        <strong>Status:</strong>
        <%= @movie.status %>
      </p>
      
      <p>
       <strong>Average Score:</strong>
        <%= @movie.averageScore %>
      </p>

      <p>
        <strong>Votes:</strong>
        <%= @movie.numVotes %>
      </p>

      <p>
        <strong>Release Date:</strong>
        <%= @movie.releaseDate %>
      </p>

      <%= link_to 'Movie Index', movies_path %>
    </div> <!-- ./movDescrip -->
  </div> <!-- ./container1 -->
