<div style="background-color: #708090; height: 120em; margin-top: -0.7em;">
  
  <p id="notice"><%= notice %></p>
  <% 5.times do %>
    <br>
  <% end %>

  <div class="bar" style="margin-top: -2em;margin-left: 1em"><strong style="color: white"><%= @movie.title %></strong></div>
  <div class="container2" style="background-color: #708090">
    <div class="movSpacing" style="margin-top: 3em;">
      <div class = "movImage">
        <p>
          <img src = "<%= @movie.posterPath %>" style="width: 75%; height: 75%;">
        </p>
      </div>
    </div> 
    <div class="movDescrip">
      <table class ="table tb1">
        <tbody class ="tbody1">  
          <tr class="tr1">
            <td class="td1"><strong>Status:</strong></td>
            <td class="td1"><%= @movie.status %></td>
          </tr>
          <tr class="tr1">
            <td class="td1"><strong>Average Score:</strong></td>
            <td class="td1"><%= @movie.averageScore %></td>
          </tr>
          <tr>
            <td class="td1"><strong>Votes:</strong></td>
            <td class="td1"><%= @movie.numVotes %></td>
          </tr>
          <tr class="tr1">
            <td class="td1"><strong>Release Date:</strong></td>
            <td class="td1"><%= @movie.releaseDate %></td>
          </tr class="tr1">
        </tbody>
      </table>

    <p style="position: absolute; margin-top: 1em; margin-left: 0.5em;">
      <strong>Overview:</strong><br>
      <%= @movie.synopsis %>
    </p>

<!-- creating favorite/unfavorite, write a review and movie index buttons -->

    <div style="margin-left: 12em; margin-top: -16em;">  <%= link_to 'Movie Index', movies_path, :class => "btn btn-primary"%></div>
    <% if logged_in? %>
      <div style="margin-left: 5em;"><%= link_to 'Write a Review', new_movie_review_path(@movie), {:class => "btn btn-primary"} %></div>
    <% else %>
      <div style="margin-top: -16em;"><%= link_to 'Favorite', login_path, {:class => "btn btn-success"} %></div>
      <div style="margin-left: 5em;"><%= link_to 'Write a Review', login_path, {:class => "btn btn-primary"} %></div>
    <%end%>

    <% if logged_in? %> 
      <% if current_user.favorites.where(:id => @movie.id).blank? %>
        <%= link_to 'Favorite', favorite_movie_path(@movie, type: "favorite"), {method: :put, :class=>"btn btn-success"}%>
      <%else%>
        <%= link_to "unfavorite", favorite_movie_path(@movie, type: "delete"), {method: :put, :class => "btn btn-danger"} %>
      <%end%>
    <%end%>

    </div> <!-- ./movDescrip -->
  </div> <!-- ./container1 -->

<!-- displaying the stars rating below poster image -->

  <div class="star-rating" style= "margin-top: 40.3em; margin-left: 4em; position: absolute;" data-score= <%= @avg_review %> ></div>
  <em style="margin-top: 42em; margin-left: 4.2em; position: absolute;"><%= "#{@reviews.length} reviews (flickfindr rating)" %></em>

<!-- displaying user reviews -->
  <div class="bar" style="margin-top: 18em; margin-left: 1em"><strong style="color: white">User Reviews</strong></div>
  <% if @reviews.blank? %>
    <h3 style="margin-top: 32em; margin-left: 2em; position:relative;">There are currently no reviews</h3>
  <% else %>
    <div class="review">
      <% @reviews.each do |review| %>
        <div style="margin-top: 0.5em;"><strong><em><%= current_user.name %></em></strong></div>
        <div class="star-rating" style="margin-top: 0.5em;" data-score= <%= review.rating %> ></div>
        <div class="comment" style="margin-top: 0.5em;"><%= review.comment %></div>
    <div style="width: 50em; height:50px; border-bottom: 1px solid rgba(255, 255, 255, .25);"></div>
    <% end %>
  <% end %>
</div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


