<div class ="middle">
  <div style="padding: 1em 1em 1em 1em; margin-bottom: 5em;">
    <h1>Editing User</h1>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
   
    
      <div class="field">
        <%= f.label :password %><br>
        <%= f.text_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.text_field :password_confirmation %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  
  <div stlye="padding:1em 1em 1em 1em;">
   <table>
     <thead>
       <th>Movie</th>
       <th style="color:#A1A1A1;">Link</th>
     </thead>
     <tbody>
       <% current_user.favorites.each do |fav| %>
         <tr>
           <td> <%= fav["title"] %></td>
           <td style="margin-left:0.9em;"><%= link_to "unfavorite", favorite_movie_path(fav, type: "delete"), {method: :put} %></td>
         </tr>
       <%end%>
      <tbody>
    </table>
    </div>
   
    <div class="btn"><%= link_to 'Back', user_path(current_user), :id => "nav-btn" %></div>
  </div>
</div>