<!-- CHANGE LATER -->
<!--HEADER FOR THE PAGES **COPY AND PASTE INTO EVERYPAGE -->

<% provide(:title, 'Sign up') %>

<div class="top_bar">
  <div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>
 

  <%if logged_in? %>
    <div class="welcome">Welcome, <%= current_user.name %></div>
    <div class="logout"><%= link_to 'Log out', logout_path, method: :delete%></div>
  <% end %>



</div>


<div class="middle">
<%if logged_in? %>
  <p>You are not a new user! </p>
<%else%>

  <h1 class="header">Register</h1>
  <div class="form">
    <%= form_for(@user) do |f| %>
      <%= f.label :Username %>
      <%= f.text_field :name, class: 'text_area' %>

      <%= f.label :email%>
      <%= f.email_field :email, class: 'text_area' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'text_area' %>


      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'text_area'%>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
<%end%>


  <%= link_to "Home", root_path, {:class=>"link"} %>
   
</div>
