<!--HEADER FOR THE PAGES **COPY AND PASTE INTO EVERYPAGE -->

<div class="middle">
	<h1 class="header" style="margin-left:1em;"> PROFILE </h1>
		<div class="profile_left">
			<div style="display:inline-block; max-height:60%;">
			<img id="pic" src= "http://i936.photobucket.com/albums/ad204/carmenmbonilla/wildlife%20-%20%20natures%20landscape/zzanimalsjdkkjkds_zps3d92f116-1.jpg"/>
			</div>
			<p>
				<strong>Name:</strong>
				<%= @user.name %>
			</p>
	
			<p>
				<strong>Email:</strong>
				<%= @user.email %>
			</p>
			


			<div class="section">
			<h2 >Favorites</h2>
		    <ul>
		   

		    <% current_user.favorites.count %>
    		<% if current_user.favorites.any? %>
    		<div style="border: 0.1em solid gray; padding: 0.4em 0.4em 0.4em 0.4em; position:relative; display: inline-block;">
    			<% current_user.favorites.each do |fav| %>
    			  <div class="poster" style="margin-top: 5px;">
    			    <img src="<%= fav["posterPath"] %>" alt="Movie Poster"/>
    			    <%= link_to "unfavorite", favorite_movie_path(fav, type: "delete"), method: :put %>
    			    </div>
    			<%end%>
    		</div>
   			<%end%>
		    
		    
	
		    	
	
		    
		    	

		    </ul>
		  </div>
		<div class="bottom">
		<div class= "btn" style="margin-left:0em;"><%= link_to 'Edit', edit_user_path(@user) , :id => "nav-btn"%></div> 
		<div class= "btn" style="margin-left:3em;"><%= link_to 'Home', root_path, :id => "nav-btn" %></div> 
		<!--<div class= "btn" style="margin-left:7em;"><%= link_to 'Index', users_path, :id => "nav-btn" %></div>-->
		</div>
  </div>
</div>
	

	 	


