<!--HEADER FOR THE PAGES **COPY AND PASTE INTO EVERYPAGE -->
<div class="top_bar">
  <div id="title"><%=link_to "flickfindr", root_path, {:id=>"logo"} %></div>
  <%if logged_in? %>
  <div class="welcome">Welcome, <%= current_user.name %></div>
  <div class="logout"><%= link_to 'Log out', logout_path, method: :delete%></div>
  <% end %>
</div>

<div class="middle">
	<h1> PROFILE </h1>
		<div class="profile_left">
		<p>
			<strong>Name:</strong>
			<%= @user.name %>
		</p>

		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>

	<h2>Favorites</h2>
    <ul></ul>

	<h2>Friends</h2>
    <ul></ul>

 	<div class="bottom">
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Home', root_path %>
	<%= link_to 'Index', users_path %>
	</div>
<div>
