<!--HEADER FOR THE PAGES **COPY AND PASTE INTO EVERYPAGE -->
<div class="top_bar">
  <div id="title">flickfindr</div>
  <div class="welcome">Welcome, <%= current_user.name %></div>
  <div class="logout"><%= link_to 'Log out', logout_path, method: :delete%></div>
</div>

<h1> PROFILE </h1>
<div class="profile_left">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user.password_digest %>
</p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Home', userhome_path %>
